p{
    font-size: 20px;
    font-family: sans-serif;
    transition: 0.25s;
    cursor: pointer;
    width: 80%;
    text-align: justify;
    margin: 0 auto;
}

p:hover{
   width: 75%;
   background-color: rgb(221, 196, 128);
}